#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(nix --extra-experimental-features "nix-command flakes" --no-pure-eval print-dev-env)"

[[ -f .git/hooks/pre-commit.legacy ]] && rm -v .git/hooks/pre-commit.legacy
