# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Solution Arsenal
site_url: !ENV [SITE_URL, "https://solar.opendefense.cloud/"]
repo_url: https://github.com/opendefensecloud/solution-arsenal
edit_uri: https://github.com/opendefensecloud/solution-arsenal/edit/main/docs
copyright: Copyright &copy; 2025 Artifact Conduit Contributors
strict: false
theme:
  name: material
  logo: solar_logo.svg
  favicon: solar_logo.svg
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    - header.autohide
    # - navigation.expand
    # - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    # - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
extra:
  generator: false
  version:
    provider: mike
markdown_extensions:
  - codehilite
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.tilde
  - attr_list
  - pymdownx.blocks.caption
  - pymdownx.superfences:
      custom_fences:
        # support mermaid diagrams per https://squidfunk.github.io/mkdocs-material/reference/diagrams/#configuration
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
plugins:
  - search # re-include the default: https://www.mkdocs.org/user-guide/configuration/#plugins,
  - glightbox
  - include-markdown
  - panzoom:
      full_screen: True # default False
validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  unrecognized_links: warn
  anchors: warn
nav:
  - Home: index.md
  - Getting Started:
      - getting-started.md
      - walk-through/about.md
  - User Guide:
      - user-guide/core-concepts.md
      - user-guide/api-reference.md
  - Operator Manual:
      - Installation:
          - operator-manual/installation.md
          - operator-manual/helm.md
      - operator-manual/releases.md
      - operator-manual/upgrading.md
      # - operator-manual/new-features.md
      # - operator-manual/security.md
      - operator-manual/workflow-config.md
      - operator-manual/extending-artifact-types.md
      - operator-manual/force-reconciliation.md
      - operator-manual/debugging.md
      - operator-manual/ttl-based-cleanup.md
  - Developer Guide:
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - developer-guide/architecture.md
      - developer-guide/working-with-docs.md
      - developer-guide/workflow-execution.md
      - ADRs:
          - developer-guide/adrs/000-Use-Markdown-Architectural-Decision-Records.md
          - developer-guide/adrs/001-ARC-Architecture.md
          - developer-guide/adrs/002-ARC-API.md
          - developer-guide/adrs/003-Branch-Naming.md
