---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries
  - hydratedtargets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries/finalizers
  - targets/finalizers
  verbs:
  - update
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries/status
  - targets/status
  verbs:
  - get
  - patch
  - update
