---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries
  - releases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries/finalizers
  - releases/finalizers
  verbs:
  - update
- apiGroups:
  - solar.opendefense.cloud
  resources:
  - discoveries/status
  - releases/status
  verbs:
  - get
  - patch
  - update
